@use 'sass:math';

.sciBorderTop {
  border-top-style: solid;
  border-top-color: white;
  border-top-width: 1px;
}

.sciBorderBottom {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
}

.sciBorderRight {
  border-right-style: solid;
  border-right-color: white;
  border-right-width: 1px;
}

.sciBorderLeft {
  border-left-style: solid;
  border-left-color: white;
  border-left-width: 1px;
}

.sciScale32 {
  // 96x96 into 32x32 (usually)
  transform: scale(math.div(1, 3)); // 0.333
  -ms-transform: scale(math.div(1, 3));
  transform-origin: top left;
}

.sciScale64 {
  // 96x96 into 64x64 (usually)
  transform: scale(math.div(1, 1.5)); // 0.666
  transform-origin: top left;
}

.sciDeconIcon {
  display: inline-block;
  width: 96px;
  height: 96px;
  vertical-align: middle;
  -ms-interpolation-mode: nearest-neighbor;
}

.sciLocked {
  font-style: italic;
  font-weight: bold;
  padding: 3px 4px 3px 4px;
  margin: 4px 0 4px 0;
}
