<h3>Asteroid Cannon Status:</h3>
<div class="item" style="padding-top: 10px">
	<div class="item">
		{{:data.cannon_status}}
	</div>
</div>

<h3>Maintenance Protocols:</h3>
<div class="item">
	System status: {{:data.reboot_status}}
</div>
<div class="item" style="padding-top: 10px">
	<div class="item">
		{{if data.canreboot}}
			<div class="itemContent" style="padding-top: 2px; width: 100%">
				{{:helper.link('Full System Reboot', 'alert', {'reboot' : '1'}, null , null)}}
			</div>
			<br>
		{{/if}}
		{{if data.rebooting}}
			{{:helper.displayBar(data.progress, 0, 1, 'good', data.progresstext + "%")}}
			{{:data.repair ? "<br>Action Required:<br> "+data.repair : "Processing..."}}
		{{/if}}
	</div>
</div>