<h3>Shuttle Status</h3>
<div class="item" style="padding-top: 10px">
	<div class="item">
		{{:data.shuttle_status}}
	</div>
</div>

<h3>Shuttle Control</h3>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemContent" style="padding-top: 2px; width: 100%">
			{{:helper.link('Authorise Launch', 'alert', {'authorise' : '1'}, data.authorised? 'disabled' : null , null)}}
		</div>
	</div>
</div>