<!--
Title: Necrohelp
Used In File(s): necrohelp.dm
 -->
<style>
	td {border-style: solid;
  border-width: 1px; border-color: black;}
  body{height: 100%; line-height:135%;}
  
  h1 {
    font-size: 18px; color: #e9c183;padding: 0px;
}
h2 {
    font-size: 16px; color: #e9c183;padding: 0px;
}
h3 {
    font-size: 14px; color: #e9c183;padding: 0px;
}

</style>
<h1>{{:data.name}}</h1>
{{:data.desc}}