<!--
Title: Patron Management
Used In File(s): code\modules\client\patron.dm
 -->
<style>
	td {border-style: solid;
  border-width: 1px; border-color: black;}
  body{height: 100%; line-height:135%;}
  
  h1 {
    font-size: 18px; color: #e9c183;padding: 0px;
}
h2 {
    font-size: 16px; color: #e9c183;padding: 0px;
}
h3 {
    font-size: 14px; color: #e9c183;padding: 0px;
}
</style>

<table>
<tr>
<td>Ckey:</td>
<td>Expiry Date:</td>
<td>Expires:</td>
<td>Actions:</td>
<td>{{:helper.link('Add New', null, { "register" : 1 }, null)}}</td>
</tr>
{{for data.patrons}}
	<tr>
	<td>{{:value.key}}</td>
	<td>{{:value.date}}</td>
	<td>{{:value.delta}}</td>
	<td>{{:helper.link('Extend', null, { "extend" : value.key }, null)}}</td>
	<td>{{:helper.link('Set Expiry', null, { "date" : value.key }, null)}}</td>
	<td>{{:helper.link('Revoke', null, { "revoke" : value.key }, null)}}</td>
	</tr>
{{/for}}
</table>