<div class="item">
	<div class="itemLabelWide">
		Behaviour controls are {{:data.locked ? "locked" : "unlocked"}}.
	</div>
</div>
<br>
{{if data.access}}
    <div class="item">
		<div class="itemLabelWide">
			Turret Status:
		</div>
		<div class="itemContentNarrow">
			{{:helper.link('Enabled', null, {'command' : 'enable', 'value' : 1},  data.enabled ?'redButton' : null)}}
			{{:helper.link('Disabled',null, {'command' : 'enable', 'value' : 0}, !data.enabled ? 'selected' : null)}}
		</div>
	</div>	

	<div class="itemLabelWide">
		Targeting Profiles
	</div>
	</br>
	<hr>
	{{:data.selected_desc}}
    {{for data.profiles}}
        <div class="item">
            <div class="itemLabelWide">
                {{:value.name}}
            </div>
            <div class="itemContentNarrow">
                {{:helper.link('Select', null, {'select_profile' : value.id, 'value' : 1},  (value.id == data.selected) ? 'selected' : null)}}
            </div>
        </div>
    {{/for}}
{{/if}}
